<!DOCTYPE html>
<head>
   <title>RPi Web Server</title>
   <!-- Compiled and minified jQuery library -->
   <script src="/static/js/jQuery/jquery-3.3.1.min.js"></script>
   <!-- Latest compiled and minified JavaScript -->
   <script src="/static/bootstrap.min.js"></script>
      <!-- Optional theme -->
   <link rel="stylesheet" href="/static/appStyle.css">
</head>

<body>
   <h1>RPi Web Server</h1>
   <div>
   {% for latch in latches %}
   <div class="floating-box">
   <h2>{{ latches[latch].name }}</h2>
   <a href="/{{latch}}/off"><img src="/static/off.png" alt="Off" width="144" height="119"></a>
   <a href="/{{latch}}/on"><img src="/static/on.png" alt="On" width="144" height="119"></a>
   </div>   
   {% endfor %}
   </div>
</body>
